*{
	margin:0px;
	padding:0px;
	vertical-align:top;
	font:normal 12px Tahoma;
}
#box{	
	width:500px;
	height:250px;
	position:relative;
	overflow:hidden;
	margin:100px;
	
}
#box p{
	position:absolute;
	z-index:10;
	bottom:-250px;
	padding:10px;
	background:rgba(0,0,0,0.2);
	color:#fff;
	
	transition:0.5s;
}
#box:hover p{
	bottom:0px;
}
