body{
	font: normal 120% Tahoma,Verdana;
	
	background: #ccc;
}
p,label{
	text-transform: capitalize;
}
form{
	background: #fff;
	width:330px;
	padding: 15px;
	margin: 30px;
	border: 1px solid #bbb;
}
#theForm div{
	margin:8px 0px;
}
#submit{
	text-transform: capitalize;
}
p{
	font-size:10px;
	color:steelblue;
}
textarea{
	resize: none;
}
label{
	width:80px;
	float:left;
}
#feedback{
	font-size:10px;
	color:maroon;
}