body{
	font: normal 120% Tahoma,Verdana;
	text-transform: capitalize;
	background: #ccc;
}
form{
	background: #fff;
	width: 210px;
	padding: 15px;
	margin: 30px;
	border: 1px solid #bbb;
}
#theForm div{
	margin:8px 0px;
}
#submit{
	text-transform: capitalize;
}